 .hero {
    margin-bottom: 80px;
    text-align: center;
 }
 .hero h1 {
    font-size: 3rem;
    margin: 24px 0 8px;
 }
 .hero img {
    width: 100%;
    max-height: 580px;
    object-fit: cover;
 }
.hero p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 24px;
}
 .works {
    overflow: hidden;
 }
 .works__list {

    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    /* grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    max-width: 1200px;
    margin: 0 auto; */
  scroll-behavior: smooth;
  max-width: 700px;
  margin: 0 auto;
}
   

.work-card {
    flex: 0 0 360px;
    width: 100%;
    height: auto;
    padding: 48px;
    border-radius: 12px;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.work-card__image img {
    width: 100%;
    height: auto;
}
.work-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}